body {
  width: 40%;
  margin: 0 auto;
  background-color: #bcb8b1;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
  color: #463f3a;
}

.main {
  background-color: #f4f3ee;
  margin-top: 50px;
  padding: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 2%;
}

.search-bar {
  padding: 8px;
  padding-left: 10px;
  border-radius: 20px;
  border: 1px grey solid;
}

.button {
  border-radius: 20px;
  border: none;
  background-color: #463f3a;
  color: white;
}

.add {
  padding: 8px;
  border-radius: 15px;
}

.add2 {
  margin-left: 10px;
}

.list-item {
  display: grid;
  grid-template-columns: 1fr 30px 30px;
  align-items: center;
  list-style: none;
  padding: 10px;
  border-radius: 20px;
  margin: 15px 0;
  background-color: #BCB8B1;
  color: #463F3A;
  font-weight: 500;
}

.icon {
  color: #463f3a;
  padding-left: 10px;
}